extends ./layout/index
block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5 
        h2.text-center-mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tenetur fuga in tempora iusto dolorem omnis. Dolor accusantium voluptatibus ea, et facilis fugiat quo debitis, ut velit modi nobis! In!Totam mollitia harum sunt dolore dolor reprehenderit tenetur doloremque commodi illo magnam quidem, sint neque, libero quod natus sapiente, in adipisci unde odio. Labore, veniam recusandae impedit doloribus distinctio voluptatum.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quisquam repellat et eveniet aperiam eligendi suscipit dolorum asperiores tempora natus quas odit consequuntur deleniti cumque, laboriosam provident commodi.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" img nosotros" class='img-fluid')
        include ./layout/bloque_viaje    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2023
                        p.precio $2500.00 usd

    .container
        h2.mt-5.text-center Testimoniales
                include ./layout/bloque_testimoniales
           


