extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros-img", class='img-fluid')
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, porro eius rem incidunt, eligendi nemo cum omnis totam aliquam sequi deleniti vitae beatae impedit, neque doloribus iure atque corrupti unde.Natus quas blanditiis tempore. Necessitatibus autem esse harum consequatur quos eligendi distinctio quisquam cupiditate molestias!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum modi molestiae labore veritatis voluptate ratione. Non quod nam molestiae et veniam laborum. Repellat, adipisci. Sapiente nisi unde dicta cumque incidunt!Debitis minima corporis error, fugiat possimus maiores tempora deleniti est.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, explicabo quam quo doloremque aliquam sed autem modi repellat cupiditate excepturi officia provident exercitationem vel saepe in aperiam magnam fuga possimus.Quisquam dolorem reprehenderit eos sed repellat quod. Unde beatae sunt, dolorum laudantium dolores saepe ipsum placeat culpa nulla libero cupiditate.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium amet, ex tempora eveniet quo architecto iste fugit doloremque voluptatem beatae. 
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class='img-fluid mb-4')
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium amet, ex tempora eveniet quo architecto iste fugit doloremque voluptatem beatae. 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class='img-fluid mb-4')
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium amet, ex tempora eveniet quo architecto iste fugit doloremque voluptatem beatae. 